
body {
    min-width: 150px;
    margin: 0;
    font-family: serif;
    color: #454C50;
    background-color: #D7E6EF;
}

.top {
    display: flex;
    min-height: 50vw;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #454C50;
    z-index: 2;
    background-image: url('../img/top.jpg');
    justify-content: center;
    overflow: hidden;
}

.title {
    display: block;
    margin-top: 1rem;
    border-bottom: 4px solid #454C50;
}

.main {
    padding: 2rem 3rem;
    height: 100%;
}

.contents {
    display: flex;
    padding: 2rem 1rem 4rem 1rem;
    justify-content: center;
}

.aboutImg {
    width: 600px;
    height: 450px;
    min-width: 600px;
    margin: auto;
}

.aboutImg img {
    border-radius: 20%;
    /* filter: blur(1px); */
}

.aboutContents {
    width: 500px;
    height: 400px;
    min-width: 500px;
    margin: 50px auto 0 auto;
    vertical-align: middle;
}

.contentItem {
    display: flex;
}


.icon {
    display: flex;
    width: 2rem;
    height: 2rem;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.contentWorks {
    display: flex;
    width: 1400px;
    flex-wrap: wrap;
    justify-content: center;
}

.work {
    width: 200px;
    height: 400px;
    padding: 1rem;
    border-radius: 2rem;
    margin: 1rem;
    text-align: center;
    border: 2px solid#74c0ef;
    background-color: #a3d2ef;
}

.worksImg {
    width: 180px;
    height: 100px;
    margin: 20px auto 0 auto;
    border: 1px solid#454C50;
    overflow: hidden;
    border-radius: 2rem;
}


h1 {
    font-size: 2.25rem;
    margin: 0 0 0 1rem;
}

a {
    display: flex;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.text1 {
    margin: auto;
    font-size: 6vw;
    color: rgb(255, 255, 255);
    /* text-shadow:0 0 15px rgb(0, 38, 255); */
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    text-shadow:5px 5px 10px rgb(0, 38, 255);
}

.text2 {
    font-size: 1rem;
    margin: 0 0 2rem 1rem;
}

.text3 {
    font-size: 1.5rem;
    margin: 0 0 0 1rem;
}

.text4 {
    font-size: 1.5rem;
    margin: 0 0 0 1rem;
}

.text5 {
    font-size: 1.5rem;
    margin: 0.5em 0 0 0;
    -webkit-text-stroke: 1px #454C50;
}

.text6 {
    font-size: .8rem;
    margin: 0 0 0.5em 0;
}

.text7 {
    -webkit-text-stroke: 1px #454C50;
    font-size: 1.5rem;
    text-align: left;
}

.worksItem .contents + .contents {
    margin: 1rem 0 1rem 2rem;
}

@media screen and (max-width: 1400px){
    .contents {
        display: block;
    }
    .aboutImg {
        width: 40vw;
        height: 30vw;
        min-width: 240px;
        min-height: 180px;
    }
    .aboutContents {
        width: 40vw;
        min-width: 240px;
    }
    .area {
        width:  70vw;
    }
    .contentWorks {
        width: 100%;
    }
    .text4 {
        font-size: 1rem;
    }
}
